.MarkingServices {
  padding-block: 50px;
  background: white;
  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    h2 {
      font-size: 35px;
      color: #1e90ff;
    }
    h6 {
      font-size: 18px;
      font-weight: 400;
      color: dimgray;
      width: 60%;
    }
    .servicesBlocks {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 40px;
      .servicesBlock {
        width: 45%;
        height: 220px;
        padding: 30px;
        background: #00468c11;
        border-radius: 10px;
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: space-between;
        transition: 0.5s ease-in-out;
        border: 1px solid transparent;
        &:hover {
          border: 1px solid #1e90ff;
          transform: scale(1.01);
        }
        h3 {
          font-size: 20px;
          font-weight: 500;
        }

        p {
          width: 100%;
          font-size: 15px;
          color: dimgray;
          font-weight: 500;
          text-align: start;
        }
        button {
          background: transparent;
          border: none;
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 15px;
          font-weight: 500;
          transition: 0.5s ease-in-out;
          &:hover {
            transform: scale(1.02);
            color: #1e90ff;
          }
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .MarkingServices {
    .content {
      .servicesBlocks {
        .servicesBlock {
          width: 48%;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .MarkingServices {
    .content {
      h2 {
        font-size: 25px;
      }
      h6 {
        font-size: 15px;
        width: 100%;
      }
      .servicesBlocks {
        margin-top: 20px;
        align-items: start;
        text-align: start;
        .servicesBlock {
          height: auto;
          gap: 10px;
          h3 {
            font-size: 15px;
          }
          p {
            font-size: 13px;
          }
          button {
            font-size: 15px;
          }
          width: 48%;
        }
      }
    }
  }
}
@media (max-width: 510px) {
  .MarkingServices {
    .content {
      .servicesBlocks {
        flex-direction: column;
        width: 100%;
        gap: 20px;
        .servicesBlock {
          width: 100%;
          padding-block: 20px;
          h3 {
            font-size: 15px;
          }
          p {
            font-size: 13px;
          }
          button {
            font-size: 15px;
          }
        }
      }
    }
  }
}
