.MarkingMain {
  padding-top: 200px;
  height: 600px;
  background-image: url("https://i.pinimg.com/736x/72/71/8b/72718bfa4982d36254231a32dbbf7d37.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    h5 {
      color: #1e90ff;
      font-size: 15px;
      font-weight: 500;
      padding-inline: 20px;
      padding-block: 5px;
      border-radius: 50px;
      background: #1e8fff1e;
      backdrop-filter: blur(10px);
    }
    h1 {
      font-size: 40px;
      width: 60%;
      color: #1e90ff;
      text-shadow: 0px 5px 10px black;
    }
    h6 {
      font-size: 18px;
      font-weight: 400;
      color: white;
      width: 60%;
      text-shadow: 0px 5px 10px black;
    }
  }
}
@media (max-width: 900px) {
  .MarkingMain {
    height: 500px;
    .content {
      h1 {
        width: 100%;
      }
      h6 {
        width: 80%;
      }
    }
  }
}
@media (max-width: 768px) {
  .MarkingMain {
    padding-top: 150px;
    height: 450px;
    .content {
      h1 {
        font-size: 25px;
      }
      h6 {
        font-size: 15px;
        width: 100%;
      }
      h5 {
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 400px) {
  .MarkingMain {
    height: 450px;
  }
}


