.MarkingEquipment {
  padding-block: 50px;
  width: 100%;
  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    h2 {
      font-size: 35px;
      
      color: #1e90ff;
    }
    h6 {
      font-size: 18px;
      font-weight: 400;
      color: dimgray;
      width: 60%;
    }
    .equipmentsBlocks {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 40px;
      .equipmentBlock {
        width: 45%;
        height: 760px;
        padding: 30px;
        background: white;
        border-radius: 10px;
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 20px;
        transition: 0.5s ease-in-out;
        border: 1px solid transparent;
        &:hover {
          border: 1px solid #1e90ff;
          transform: scale(1.01);
        }
        img {
          width: 100%;
          height: 300px;
          border-radius: 10px;
        }
        h3 {
          font-size: 20px;
          font-weight: 500;
        }
        p {
          text-align: start;
          font-size: 18px;
          color: dimgray;
          margin-bottom: 20px;
        }
        a {
          display: flex;
          align-items: center;
          gap: 10px;
          span {
            color: green;
          }
        }
        button {
          font-size: 18px;
          background: transparent;
          border: none;
          display: flex;
          align-items: center;
          gap: 5px;
          margin-top: 20px;
          font-weight: 500;
          transition: 0.5s ease-in-out;
          &:hover {
            color: #1e90ff;
            transform: scale(1.02);
          }
        }
      }
    }
  }
}
@media (max-width: 930px) {
  .MarkingEquipment {
    .content {
      .equipmentsBlocks {
        .equipmentBlock {
          padding: 20px;
          height: 740px;
          a {
            text-align: start;
          }
          img {
            height: 200px;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .MarkingEquipment {
    .content {
      h2 {
        font-size: 25px;
        width: 100%;
      }
      h6 {
        font-size: 15px;
        width: 100%;
      }
      .equipmentsBlocks {
        margin-top: 20px;

        .equipmentBlock {
          padding: 20px;
          gap: 20px;
          width: 48%;
          height: 650px;
          h3 {
            font-size: 18px;
          }
          p {
            font-size: 13px;
            margin-bottom: 0;
          }
          a {
            span {
              font-size: 13px;
            }
            font-size: 15px;
          }

          button {
            font-size: 15px;
          }
        }
      }
    }
  }
}
@media (max-width: 610px) {
  .MarkingEquipment {
    padding-block: 50px;
    .content {
      .equipmentsBlocks {
        flex-direction: column;
        gap: 20px;
        .equipmentBlock {
          padding: 20px;
          gap: 20px;
          width: 100%;
          height: 550px;
          img {
            object-fit: cover;
          }
          button {
            margin-top: 0;
          }
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .MarkingEquipment {
    height: auto;
    .content {
      .equipmentsBlocks {
        gap: 20px;
        .equipmentBlock {
          padding: 20px;
          gap: 20px;
          height: auto;
          img {
            display: none;
          }
          button {
            margin-top: 0;
          }
        }
      }
    }
  }
}
