.MarkingMandatory {
  padding-block: 50px;
  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    h2 {
      font-size: 35px;
     
      color: #1e90ff;
    }
    h6 {
      font-size: 18px;
      font-weight: 400;
      color: dimgray;
      width: 60%;
    }
    .mandatoryContent {
      width: 100%;
      height: 600px;
      background: white;
      padding: 40px;
      border-radius: 10px;
      border: 2px solid rgba(128, 128, 128, 0.212);
      display: flex;
      align-items: start;
      flex-direction: column;
      justify-content: space-between;
      .mandatoryBlocks {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 40px;
        button {
          display: none;
        }
        .mandatoryBlock {
          width: 32%;
          display: flex;
          align-items: start;
          gap: 20px;
          margin-bottom: 20px;
          h2 {
            padding-block: 10px;
            padding-inline: 20px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            background: #1e8fff1e;
            color: #1e90ff;
          }
          .blockText {
            display: flex;
            align-items: start;
            flex-direction: column;
            gap: 5px;
            h3 {
              font-size: 18px;
              font-weight: 500;
            }
            h5 {
              text-align: start;
              font-size: 15px;
              font-weight: 400;
              color: dimgray;
            }
          }
        }
      }
      hr {
        width: 100%;
      }
      h6 {
        font-size: 15px;
        width: 100%;
        text-align: start;
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .MarkingMandatory {
    .content {
      .mandatoryContent {
        height: auto;
        gap: 20px;
        .mandatoryBlocks {
          margin-top: 20px;
          .mandatoryBlock {
            width: 48%;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .MarkingMandatory {
    .content {
      h2 {
        font-size: 25px;
      }
      h6 {
        font-size: 15px;
        width: 80%;
      }
      .mandatoryContent {
        height: auto;
        gap: 20px;
        .mandatoryBlocks {
          margin-top: 20px;
          .mandatoryBlock {
            width: 48%;
            h2 {
              font-size: 15px;
              padding-inline: 17px;
              padding-block: 10px;
            }
            .blockText {
              h3 {
                text-align: start;
                font-size: 17px;
              }
              h5 {
                font-weight: 400;
              }
            }
          }
        }
        h6 {
          align-items: start;
          span {
            font-size: 20px;
          }
        }
      }
    }
  }
}
@media (max-width: 630px) {
  .MarkingMandatory {
    padding-block: 0;
    .content {
      h6 {
        width: 100%;
      }
      .mandatoryContent {
        padding: 20px;
        .mandatoryBlocks {
          .mandatoryBlock {
            width: 100%;
            h2 {
              font-size: 15px;
              padding-inline: 17px;
              padding-block: 10px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .MarkingMandatory {
    .content {
      h6 {
        width: 100%;
      }
      width: 100%;
      .mandatoryContent {
        padding: 0;
        background: transparent;
        border: none;
        width: 100%;
        .mandatoryBlocks {
          width: 100%;
          flex-wrap: nowrap;
          gap: 10px;
          padding-block: 20px;
          display: flex;
          justify-content: start;
          align-items: start;
          overflow-x: scroll;
          background: white;
          button {
            font-size: 35px;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            backdrop-filter: blur(20px);
            display: block;
            position: sticky;
            z-index: 98;
            border: none;
            color: black;
            top: 50px;
          }
          .left {
            left: 0px;
          }
          .right {
            right: 0px;
          }
          .mandatoryBlock {
            width: 250px;
            height: 120px;
            flex-direction: column;
            gap: 10px;
            h2 {
              font-size: 15px;
              padding-inline: 13px;
              padding-block: 5px;
              border-radius: 5px;
            }
            .blockText {
              h3 {
                font-size: 15px;
              }
              h5 {
                font-size: 13px;
                width: 200px;
              }
            }
          }
        }
        hr {
          display: none;
        }
        h6 {
          font-size: 13px;
        }
      }
    }
  }
}
