.StationSpecifications {
  padding-block: 50px;
  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    width: 100%;
    h2 {
      font-size: 35px;
      color: #1e90ff;
    }
    h6 {
      font-size: 18px;
      font-weight: 400;
      color: dimgray;
      width: 60%;
    }
    .specificationBlock {
      width: 100%;
      height: 500px;
      background: white;
      border-radius: 20px;
      padding: 40px;
      display: flex;
      align-items: start;
      justify-content: space-between;
      margin-top: 40px;
      div {
        width: 25%;
        height: 100%;
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: space-between;
        hr {
          width: 100%;
        }
        h4 {
          font-size: 18px;
        }
        h5 {
          font-size: 17px;
          font-weight: 500;
        }
      }
      .otherTable {
        h5 {
          color: #1e90ff;
          font-weight: 400;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .StationSpecifications {
    .content {
      .specificationBlock {
        overflow-x: scroll;
        div {
          width: 250px;
          height: 400px;
          hr {
            width: 250px;
          }
        }
        .otherTable {
          h5 {
            font-size: 15px;
            margin-top: 2px;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .StationSpecifications {
    padding-block: 0;
    .content {
      h2 {
        font-size: 25px;
      }
      h6 {
        font-size: 15px;
        width: 80%;
      }
      .specificationBlock {
        overflow-x: scroll;
        margin-top: 20px;
        height: 450px;
        border-radius: 0;
        div {
          width: 250px;
          height: 350px;
          h4 {
            font-size: 17px;
          }
          h5 {
            font-size: 15px;
          }
          hr {
            width: 250px;
          }
        }
        .otherTable {
          h5 {
            font-size: 15px;
            margin-top: 0;
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .StationSpecifications {
    padding-block: 0;
    .content {
      h2 {
        font-size: 25px;
      }
      h6 {
        font-size: 15px;
        width: 100%;
      }
      .specificationBlock {
        height: 380px;
        div {
          width: 200px;
          height: 300px;
          hr {
            width: 200px;
          }
        }
      }
    }
  }
}
@media (max-width: 350px) {
  .StationSpecifications {
    padding-block: 0;
    .content {
      h2 {
        font-size: 25px;
      }
      h6 {
        font-size: 15px;
        width: 100%;
      }
      .specificationBlock {
        div {
          width: 180px;
          hr {
            width: 180px;
          }
          h5 {
            font-size: 13px;
          }
        }
        .otherTable {
          h5 {
            font-size: 13px;
          }
        }
      }
    }
  }
}
