.StationType {
  padding-block: 50px;
  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    h2 {
      font-size: 35px;
      color: #1e90ff;
    }
    h6 {
      font-size: 18px;
      font-weight: 400;
      color: dimgray;
      width: 60%;
    }
    .stationTypeBlocks {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 40px;
      .stationTypeBlock {
        width: 32%;
        height: 700px;
        padding: 30px;
        background: white;
        border-radius: 10px;
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 20px;
        transition: 0.5s ease-in-out;
        border: 1px solid transparent;
        &:hover {
          border: 1px solid #1e90ff;
          transform: scale(1.01);
        }
        img {
          width: 100%;
          height: 300px;
          border-radius: 10px;
        }
        h3 {
          font-size: 20px;
          font-weight: 500;
          text-align: start;
        }
        p {
          text-align: start;
          font-size: 18px;
          color: dimgray;
          margin-bottom: 20px;
        }
        a {
          display: flex;
          align-items: start;
          text-align: start;
          gap: 10px;
          span {
            color: green;
          }
        }
        button {
          font-size: 18px;
          background: transparent;
          border: none;
          display: flex;
          align-items: center;
          gap: 5px;
          margin-top: 20px;
          font-weight: 500;
          transition: 0.5s ease-in-out;
          &:hover {
            color: #1e90ff;
            transform: scale(1.02);
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .StationType {
    .content {
      .stationTypeBlocks {
        height: 800px;
        overflow-x: scroll;
        gap: 20px;
        margin-top: 20px;
        padding-inline: 20px;
        .stationTypeBlock {
          width: 400px;
          img {
            width: 340px;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .StationType {
    .content {
      h2 {
        font-size: 25px;
        text-align: center;
      }
      h6 {
        font-size: 15px;
        width: 80%;
      }

      .stationTypeBlocks {
        height: 600px;
        margin-top: 0;
        .stationTypeBlock {
          width: 400px;
          height: 550px;
          gap: 10px;
          h3 {
            font-size: 18px;
          }
          p {
            font-size: 15px;
          }
          a {
            font-size: 15px;
          }
          img {
            width: 340px;
            height: 200px;
          }
          button {
            font-size: 15px;
          }
        }
      }
    }
  }
}
@media (max-width: 530px) {
  .StationType {
    .content {
      .stationTypeBlocks {
        height: 600px;
        .stationTypeBlock {
          width: 350px;
          height: 580px;
          padding: 20px;
          img {
            width: 280px;
            height: 200px;
          }
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .StationType {
    .content {
      .stationTypeBlocks {
        flex-direction: column;
        padding-inline: 0;
        padding-block: 20px;
        .stationTypeBlock {
          width: 100%;
          img {
            display: none;
          }
        }
      }
    }
  }
}
