.InfoAllPage {
  padding-block: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    .mainText {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      text-align: center;
      color: white;
      h2 {
        font-size: clamp(1.563rem, 1.358rem + 1.02vw, 2.188rem);
      }
      p {
        width: 80%;
        font-size: clamp(0.813rem, 0.67rem + 0.71vw, 1.25rem);
      }
    }
    .infoBlocks {
      display: flex;
      align-items: start;
      justify-content: space-between;
      width: 100%;
      .infoBlock {
        width: 32%;
        height: 300px;
        background: rgba(0, 0, 0, 0.196);
        backdrop-filter: blur(20px);
        border-radius: 10px;
        padding: 20px;
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 10px;
        color: white;
        cursor: pointer;
        transition: 0.5s ease-in-out;

        &:hover {
          transform: scale(1.02);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.196);
        }
        a {
          font-size: clamp(1.563rem, 1.052rem + 2.55vw, 3.125rem);
        }
        h3 {
          font-size: clamp(0.813rem, 0.568rem + 1.22vw, 1.563rem);
        }
        p {
          font-size: clamp(0.813rem, 0.772rem + 0.2vw, 0.938rem);
        }
      }
    }
  }
}

@media (max-width: 1025px) {
  .InfoAllPage {
    .content {
      .infoBlocks {
        .infoBlock {
          height: 350px;
        }
      }
    }
  }
}
@media (max-width: 650px) {
  .InfoAllPage {
    .content {
      .infoBlocks {
        flex-wrap: wrap;
        gap: 20px;
        .infoBlock {
          width: 45%;
          height: 280px;
        }
      }
    }
  }
}
@media (max-width: 570px) {
  .InfoAllPage {
    .content {
      gap: 10px;
      .mainText {
        h3 {
          width: 100%;
        }
        p {
          width: 100%;
        }
      }
      .infoBlocks {
        flex-wrap: wrap;
        gap: 20px;
        .infoBlock {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
