.AboutMain {
  padding: 100px 0 100px 0;

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 20px;

    h1 {
      font-size: 40px;

      color: white;
    }
    h6 {
      font-size: 18px;
      font-weight: 400;
      color: white;
      width: 80%;
      text-align: center;
    }
    .aboutContent {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 50px;
      .aboutStory {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 10px;
        width: 50%;
        h2 {
          font-size: 30px;
          color: white;
        }
        .description {
          display: flex;
          align-items: start;
          flex-direction: column;
          gap: 20px;
          width: 100%;
          .group {
            display: flex;
            align-items: start;
            gap: 20px;
            width: 100%;
            h3 {
              color: white;
            }
            p {
              span {
                font-weight: 500;
              }
              font-size: 18px;
              font-weight: 300;
              color: white;
              text-align: start;
              width: 100%;
            }
          }
        }
      }
      img {
        width: 600px;
        height: 450px;
        border-radius: 10px;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 1250px) {
  .AboutMain {
    .content {
      .aboutContent {
        .aboutStory {
          h2 {
            width: 80%;
          }
          .description {
            p {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1150px) {
  .AboutMain {
    .content {
      .aboutContent {
        img {
          width: 500px;
          height: 500px;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .AboutMain {
    .content {
      .aboutContent {
        .aboutStory {
          .description {
            gap: 10px;
          }
        }
        img {
          width: 450px;
          height: 450px;
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .AboutMain {
    .content {
      .aboutContent {
        flex-direction: column;
        gap: 40px;
        .aboutStory {
          width: 100%;
          .description {
            gap: 10px;
          }
        }
        img {
          width: 100%;
          height: 350px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .AboutMain {
    padding: 150px 0 100px 0;
    .content {
      h1 {
        font-size: 25px;
      }
      h6 {
        font-size: 15px;
      }
      h5 {
        font-size: 13px;
      }
      .aboutContent {
        flex-direction: column;
        gap: 40px;
        margin-top: 20px;
        .aboutStory {
          width: 100%;

          .description {
            gap: 10px;
            p {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 430px) {
  .AboutMain {
    .content {
      h6 {
        width: 100%;
      }
      .aboutContent {
        img {
          height: 250px;
        }
      }
    }
  }
}
