.ContactMain {
  padding: 150px 0 50px 0;

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    h5 {
      color: white;
      font-size: 15px;
      font-weight: 500;
      padding-inline: 10px;
      padding-block: 5px;
      border-radius: 50px;
      background: #0104082e;
    }
    h1 {
      font-size: 40px;
      color: white;
    }
    h6 {
      font-size: 18px;
      font-weight: 400;
      color: white;
    }
    .contactDetails {
      display: flex;
      align-items: start;
      justify-content: space-between;
      width: 100%;
      margin-top: 50px;
      h3 {
        font-size: 20px;
        font-weight: 500;
        transition: 0.05s ease-in-out;
      }
      .companyData {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 20px;
        width: 50%;

        .dataBlocks {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          .block {
            width: 200px;
            height: 250px;
            background: rgba(0, 0, 0, 0.196);
            backdrop-filter: blur(20px);
            border-radius: 10px;
            display: flex;
            align-items: start;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
            box-shadow: 0px 0px 5px rgba(105, 105, 105, 0.4);
            h3 {
              color: white;
            }
            span {
              font-size: 25px;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              color: white;
              background: #0104082e;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: 0.05s ease-in-out;
            }

            .data {
              display: flex;
              align-items: start;
              flex-direction: column;
              gap: 5px;
              a {
                font-size: 15px;
                transition: 0.5s ease-in-out;
                border: 2px solid transparent;
                color: white;
                &:hover {
                  border-bottom: 2px solid white;
                  transform: scale(1.02);
                  cursor: pointer;
                }
              }
            }
          }
        }

        .schedule {
          width: 100%;
          height: 290px;
          background: #0104082e;
          backdrop-filter: blur(20px);
          border-radius: 10px;
          padding: 30px;
          display: flex;
          align-items: start;
          gap: 20px;
          box-shadow: 0px 0px 5px rgba(105, 105, 105, 0.4);
          span {
            font-size: 25px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: white;
            background: #0104082e;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.05s ease-in-out;
          }
          h3 {
            color: white;
          }
          h6 {
            font-size: 15px;
          }
          .scheduleText {
            display: flex;
            align-items: start;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            .mainText {
              display: flex;
              align-items: center;
              width: 100%;
              justify-content: space-between;

              .icons {
                display: flex;
                align-items: start;
                gap: 15px;
                a {
                  font-size: 20px;
                  color: white;
                  transition: 0.2s ease-in-out;
                }
                .linkedin {
                  &:hover {
                    transform: scale(1.05);
                    color: #1e90ff;
                  }
                }
                .youtube {
                  &:hover {
                    transform: scale(1.05);
                    color: red;
                  }
                }
                .instagram {
                  background: white;
                  color: black;
                  width: 20px;
                  height: 20px;
                  border-radius: 5px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 17px;
                  &:hover {
                    color: white;
                    transform: scale(1.05);
                    background: rgb(131, 58, 180);
                    background: linear-gradient(
                      139deg,
                      rgba(131, 58, 180, 1) 0%,
                      rgba(253, 29, 29, 1) 50%,
                      rgba(252, 176, 69, 1) 100%
                    );
                  }
                }
              }
            }
            .scheduleData {
              display: flex;
              align-items: start;
              flex-direction: column;
              gap: 20px;
              width: 100%;
              margin-top: 20px;
              .day {
                width: 100%;
                display: flex;
                align-items: start;
                justify-content: space-between;
                h4 {
                  font-size: 15px;
                  font-weight: 500;
                  color: white;
                }
              }
            }
          }
        }
      }
      .inputData {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 20px;
        width: 48%;
        .inputs {
          width: 100%;
          height: 520px;
          background: #0104082e;
          backdrop-filter: blur(20px);
          padding: 30px;
          border-radius: 10px;
          box-shadow: 0px 0px 5px rgba(105, 105, 105, 0.4);
          display: flex;
          align-items: start;
          flex-direction: column;
          gap: 20px;
          h3 {
            font-size: 25px;
            color: white;
          }
          form {
            width: 100%;
            display: flex;
            align-items: start;
            flex-wrap: wrap;
            gap: 20px;
            h4 {
              font-size: 15px;
              font-weight: 500;
              color: white;
            }
            .inpBlock {
              display: flex;
              align-items: start;
              flex-direction: column;
              gap: 5px;
              width: 48%;

              input {
                width: 100%;
                height: 40px;
                padding-inline: 10px;
                background: #3232356a;
                border-radius: 10px;
                border: 1px solid rgba(128, 128, 128, 0.912);
                font-size: 16px;
                color: white;
              }
            }
            .messageBlock {
              display: flex;
              align-items: start;
              flex-direction: column;
              gap: 5px;
              width: 100%;
              textarea {
                width: 100%;
                height: 150px;
                padding-block: 10px;
                padding-inline: 10px;
                background: #3232356a;
                border-radius: 10px;
                border: 1px solid rgba(128, 128, 128, 0.912);
                color: white;
              }
            }
            button {
              width: 100%;
              height: 40px;
              background: #3e8279;
              color: white;
              border: none;
              box-shadow: 0 4px 10px rgba(58, 58, 58, 0.3);
              border-radius: 10px;
              font-size: 15px;
              color: white;
              font-weight: 600;
              transition: 0.5s ease-in-out;
              &:hover {
                transform: scale(1.02);
              }
            }
          }
        }
        .texts {
          display: flex;
          align-items: start;
          flex-direction: column;
          gap: 10px;
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  .ContactMain {
    .content {
      .contactDetails {
        .companyData {
          .dataBlocks {
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            .block {
              width: 48%;
              display: flex;
              align-items: start;
              gap: 5px;
              height: 180px;
              span {
                font-size: 20px;
              }
              .data {
                a {
                  font-size: 15px;
                }
              }
            }
          }
          .schedule {
            height: 250px;
          }
        }
        .inputData {
          .inputs {
            height: 700px;
            form {
              .inpBlock {
                width: 100%;
              }
              button {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1080px) {
  .ContactMain {
    .content {
      .contactDetails {
        .companyData {
          .dataBlocks {
            .block {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .ContactMain {
    padding: 150px 0 50px 0;
    .content {
      .contactDetails {
        .companyData {
          width: 40%;
          .dataBlocks {
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            .block {
              width: 100%;
              display: flex;
              align-items: start;
              gap: 5px;
              height: 180px;
              span {
                font-size: 20px;
              }
              .data {
                a {
                  font-size: 15px;
                }
              }
            }
          }
          .schedule {
            height: 350px;
            flex-direction: column;
          }
        }
        .inputData {
          width: 55%;
          .inputs {
            height: 700px;
            form {
              .inpBlock {
                width: 100%;
              }
              button {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .ContactMain {
    .content {
      h1 {
        font-size: 25px;
      }
      h6 {
        font-size: 15px;
        text-align: center;
      }
      h5 {
        font-size: 13px;
      }
      gap: 10px;
      .contactDetails {
        flex-direction: column;
        gap: 20px;
        .companyData {
          width: 100%;
          h1 {
            font-size: 25px;
          }
          h6 {
            font-size: 15px;
          }
          gap: 10px;
          .dataBlocks {
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 20px;
            .block {
              width: 30%;
              display: flex;
              align-items: start;
              gap: 5px;
              height: 220px;
              span {
                font-size: 15px;
                width: 35px;
                height: 35px;
              }
              h3 {
                font-size: 18px;
              }
              .data {
                a {
                  font-size: 15px;
                }
              }
            }
          }
          .schedule {
            height: 350px;
            margin-top: 20px;
            span {
              font-size: 15px;
              width: 35px;
              height: 35px;
            }
            .scheduleText {
              .mainText {
                h3 {
                  font-size: 18px;
                }
                .icons {
                  display: flex;
                  align-items: center;
                  a {
                    font-size: 20px;
                  }
                }
              }
              h6 {
                font-size: 15px;
              }
              .scheduleData {
                .day {
                  h4 {
                    font-size: 15px;
                  }
                }
              }
            }
          }
        }
        .inputData {
          width: 100%;
          flex-direction: column-reverse;
          .inputs {
            height: 550px;
            h3 {
              font-size: 18px;
            }
            form {
              .inpBlock {
                width: 45%;
              }
              button {
                margin-top: 0;
              }
            }
          }
          .texts {
            flex-direction: column-reverse;
          }
        }
      }
    }
  }
}
@media (max-width: 620px) {
  .ContactMain {
    .content {
      .contactDetails {
        .companyData {
          .dataBlocks {
            justify-content: center;
            .block {
              width: 48%;
            }
          }
        }
        .inputData {
          .inputs {
            height: auto;
            form {
              .inpBlock {
                width: 100%;
              }
            }
          }
          .texts {
            flex-direction: column-reverse;
          }
        }
      }
    }
  }
}
@media (max-width: 580px) {
  .ContactMain {
    .content {
      .contactDetails {
        margin-top: 30px;
        .companyData {
          .dataBlocks {
            justify-content: start;
            .block {
              width: 100%;
            }
          }
        }
        .inputData {
          .inputs {
            height: auto;
            form {
              .inpBlock {
                width: 100%;
              }
            }
          }
          .texts {
            flex-direction: column-reverse;
          }
        }
      }
    }
  }
}
@media (max-width: 420px) {
  .ContactMain {
    .content {
      gap: 10px;
      .contactDetails {
        .companyData {
          .dataBlocks {
            justify-content: start;
            .block {
              width: 100%;
              height: 180px;
            }
          }
          .schedule {
            height: 400px;
            .scheduleText {
              .mainText {
                align-items: start;
                flex-direction: column-reverse;
              }
              .scheduleData {
                .day {
                  flex-direction: column;
                  gap: 5px;
                }
              }
            }
          }
        }
        .inputData {
          .inputs {
            height: auto;
            padding-inline: 20px;
            form {
              .inpBlock {
                width: 100%;
              }
            }
          }
          .texts {
            flex-direction: column-reverse;
          }
        }
      }
    }
  }
}
@media (max-width: 355px) {
  .ContactMain {
    .content {
      .contactDetails {
        .companyData {
          .dataBlocks {
            .block {
              .data {
                a {
                  font-size: 13px;
                }
              }
            }
          }
          .schedule {
            height: 420px;
          }
        }
      }
    }
  }
}
